src/legacy/calendar.js
src/legacy/farbtastic.js
src/legacy/global.js
src/legacy/jquery-defaults.js
src/legacy/jquery.editable.js
src/legacy/jquery-migrate.js
src/legacy/jquery-ui.min.js
src/legacy/jquery.validate.js
src/legacy/justgage.js
src/legacy/login.js
src/legacy/raphael-min.js
src/legacy/touch.js
src/vendor/jquery-ui-modded.js

src/less/**

src/lib/capture-stack-trace-polyfill.js

database/build/node_modules/**

build-config/**/*
