{
    "extends": [
        "stylelint-config-standard",
        "stylelint-config-suitcss"
    ],
    "plugins": [
        "stylelint-no-unsupported-browser-features"
    ],
    "rules": {
        "indentation": [4],
        "suitcss/custom-property-no-outside-root": true,
        "suitcss/root-no-standard-properties": true,
        "suitcss/selector-root-no-composition": true,
        "plugin/no-unsupported-browser-features": [true, {
            "severity": "warning"
        }]
    }
}
