.c-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid whitesmoke;
    border-radius: 2px;
}

.c-card-title {
    margin: 0;
    background-color: whitesmoke;
    display: flex;
    padding: 5px;
    border-radius: 2px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.c-card-body {
    padding: 5px;
}