.c-alert {
    border-radius: 2px;
    border: 1px solid transparent;
    font-size: var(--font-size-m);
    padding: var(--space-5) 32px var(--space-5) var(--space-6);
    position: fixed;
    right: 10px;
}

.c-alert__close {
    background-color: transparent;
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" baseProfile="tiny" viewBox="0 0 24 24"><g fill="#37454d" stroke="#37454d" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"><path class="svg-color--secondary" d="M7 17L17 7M17 17L7 7"/></g></svg>');
    background-repeat: no-repeat;
    background-size: 18px;
    border: none;
    cursor: pointer;
    height: 18px;
    line-height: 0;
    opacity: var(--opacity-75);
    padding: 0;
    position: absolute;
    right: var(--space-2);
    top: var(--space-2);
    width: 18px;
}

.c-alert__close:hover {
    opacity: var(--opacity-100);
}

.c-alert--success {
    background-color: var(--color-green-140);
    border-color: var(--color-green-100);
}

.c-alert--info {
    background-color: var(--color-blue-140);
    border-color: var(--color-blue-100);
}

.c-alert--warning {
    background-color: var(--color-orange-140);
    border-color: var(--color-orange-100);
}

.c-alert--error {
    background-color: var(--color-red-140);
    border-color: var(--color-red-100);
}

.c-alert--slide-in {
    animation: slide-in 0.2s forwards;
}

.c-alert--slide-out {
    animation: slide-out 0.2s forwards;
}

@keyframes slide-in {
    0% {
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes slide-out {
    0% {
        transform: translateX(0%);
    }

    100% {
        opacity: 0;
        transform: translateX(100%);
    }
}
