:root {
    --color-white-100: #fff;
    --color-black-100: #1e1e1e;

    --color-grey-60: #242931;
    --color-grey-100: #454d5d;
    --color-grey-120: #667189;
    --color-grey-140: #bbc1cd;
    --color-grey-160: #e7e9ed;
    --color-grey-180: #f4f4f4;
    --color-grey-200: #fcfcfc;

    --color-blue-100: #c7ddef;
    --color-blue-140: #eff5fb;

    --color-green-100: #ccedc6;
    --color-green-140: #eef9ec;

    --color-orange-100: #fae6be;
    --color-orange-140: #fef8ee;

    --color-red-100: #f9bfbf;
    --color-red-140: #fdeded;
}