:root {
    --space-1: .1rem;   /* 2px */
    --space-2: .2rem;   /* 4px */
    --space-3: .4rem;   /* 8px */
    --space-4: .6rem;   /* 12px */
    --space-5: .8rem;   /* 16px */
    --space-6: 1rem;    /* 20px */
    --space-7: 1.2rem;  /* 24px */
    --space-8: 1.4rem;  /* 28px */
    --space-9: 1.6rem;  /* 32px */
    --space-10: 1.8rem; /* 36px */
}
